PORT=5001
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/slack
JWT_SECRET=your_jwt_secret_key
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API=your_cloudinary_api_key
CLOUD_SECRET=your_cloudinary_api_secret
EMAIL=sender@email.com
EMAIL_PASS=email_app_password
FRONTEND_URL=http://localhost:5173,http://localhost:5174
INVITER_NAME=Team Slack
SECRET_KEY=recaptcha_secret_key
ZEGO_APP_ID=zego_app_id
ZEGO_SERVER_SECRET=zego_server_secret
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_REGION=ap-south-1
S3_BUCKET_NAME=slack-bucket
